#define WIFI_SSID "My_wifi_ssid"
#define WIFI_PASSWORD "My_wifi_password"

#define TELNET_PORT 23

// Serial configuration
#define UART_NR 1  // UART number
#define UART_RX_PIN 3
#define UART_TX_PIN 2

#define WIFI_STATUS_LED_PIN LED_BUILTIN
#define WIFI_LED_STATUS_ON LOW  // Led off
#define WIFI_LED_STATUS_OFF HIGH  // Led on
